@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

label {
  color: #808080;
  display: none;
}
input {
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  padding: 8px 5px;
  width: 100%;
}
input:hover {
  outline: none;
}
input:active {
  outline: none;
}
input:focus {
  border: 1px solid #4688f1;
  outline: none;
}
.form-control.error input {
  border: 1px solid red;
  background-color: rgba(200, 0, 0, 0.123);
}
.form-control.success input {
  background-color: rgba(0, 200, 0, 0.123);
}
.container > h2 {
  font-weight: 1200;
}
.container {
  border: 0.5px solid #c8c8c8;
  width: 50%;
  margin: 100px auto 50px auto;
  padding: 20px;
  border-radius: 10px;
}
.form-control {
  margin: 20px;
}
.submit_button {
  background-color: #4688f1;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 4px;
  font-weight: 500;
}
.submit_button:hover {
  background-color: #3566b8;
  cursor: pointer;
  box-shadow: 1px 1px 5px #e8e8e8;
}
.submit_button:focus {
  background-color: yellow;
}
.container small {
  font-size: 10px;
  text-align: left;
  display: block;
  visibility: hidden;
  color: red;
}
.form-control.error small {
  visibility: visible;
}
.home_button {
  color: #3566b8;
  text-decoration: none;
}
.home_button:hover {
  color: #4688f1;
  background-color: rgba(1, 1, 187, 0.116);
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 500;
}
